<a href="https://colab.research.google.com/github/kangel429/DeepLearning/blob/master/lesson4_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)   # 경로 설정
df = pd.read_csv(path/'adult.csv')     # csv 읽기

Downloading http://files.fast.ai/data/examples/adult_sample

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'] #카테고리
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]  #FillMissing : 중간에 빠진 값 있으면 처리하기, Categorify: 카테고리 변수를 찾아서 판다스 데이터로 변환, Normalize: 0~1의 값이 되도록 정규화

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)   # 테이블 형식 데이터를 처리 할 기본 클래스를 정의

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000))) # 목록의 리스트범위는 (800에서~1000)이고 훈련데이터와 검증 데이터 분류함
                           .label_from_df(cols=dep_var)   #데이터 라벨링 작업 'salary'== 50,000 달러 이상의 급여를 받고 있는지 여부
                           .add_test(test)        # 테스트 설정한 부분을 여기다가 
                           .databunch())          #데이터

In [6]:
data.show_batch(rows=10)  #열 10 보여주기

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy) #모델 == 이런 data를 가지고 레이어 200,100으로 구성되어있고 정확도를 측정할 수 있는 학습 모델

In [8]:
learn.fit(1, 1e-2)      #한번 훈련 -정확도 81%

## Inference

In [0]:
row = df.iloc[0]        #df 데이터 프레임에서 0번 인덱스 데이터를 가져와보죠.  (iloc[0] = 행 번호)

In [10]:
learn.predict(row)       #50,000 달러 이하라고 예측

(Category <50k, tensor(0), tensor([0.6306, 0.3694]))